---
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import { SITE_BASE } from "../consts";
---

<header>
  <nav class="flex justify-between items-center py-4">
    <a href={`${SITE_BASE}/`}>
      <img src={`${SITE_BASE}/favicon-32x32.png`} alt="" />
    </a>
    <ul class="flex space-x-6">
      <li>
        <a target="_blank" href="https://github.com/joackob">
          <LinkedInIcon />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/joaquinbf/">
          <GitHubIcon />
        </a>
      </li>
    </ul>
  </nav>
</header>
